{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,

	"importOrder": ["^((@jest/)|jest)", "^\\.\\./", "^\\./"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,

	"overrides": [
		{
			"files": "**/*.{yml,yaml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
